* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

/* below, setting the colors variables  */
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145
}

body {
    --hue: var(--hue-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: hsl(var(--hue), 100%, 20%);
    font-family: sans-serif;
}

/* body with class correct will take --hue-correct */
body.correct {
    --hue: var(--hue-correct);
}

/* body with class wrong will take --hue-wrong */
body.wrong {
    --hue: var(--hue-wrong);
}

.question {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

.container {
    width: 800px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2 auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 20%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    width: 140px;
    height: 40px;
    margin: 10px 20px;
}

.btn:hover {
    border-color: black;
    cursor: pointer;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, 
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.welcome {
    margin-bottom: 50px;
}

.facts {
    margin-top: 50px;
    line-height: 1.5;
    padding: 20px;
}

.score {
    margin-top: 20px;
}